#media-code-handler .query,
#media-code-handler .download {
    display: inline-block;
    color: #d53145;
    font-size: 16px;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #d53145;
    letter-spacing: 2px;
    font-weight: 300;
    padding: 2px;
    text-transform: uppercase;
}

#media-code-handler .input {
    margin-bottom: 1.5em;
    position: relative;
    text-align: center;
}
#media-code-handler input.code {
    letter-spacing: 4px;
    font-weight: 300;
    background: white;
    border-radius: 0;
    border: none;
    width: 10em;
    text-align: center;
    margin: 0.5em 1em;
}
#main #media-code-handler .content {
    margin-left: 0;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10px; /* controls relative spinner size */
    line-height: 12px;
}

.loading-spinner {
    transition: opacity 1s ease-in;
}
.loading-spinner:not(.running) {
    visibility: hidden;
    opacity: 0;
}

.loading-spinner.running {
    display: inline-block;
    visibility: visible;
    opacity: 1;
    position: relative;
    font-size: 1em;
    width: 8em;
    height: 2em;
}
.loading-spinner.running div {
    position: absolute;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background: #d53145;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.loading-spinner.running div:nth-child(1) {
    left: 0em;
    animation: loading-spinner1 0.6s infinite;
}
.loading-spinner.running div:nth-child(2) {
    left: 0em;
    animation: loading-spinner2 0.6s infinite;
}
.loading-spinner.running div:nth-child(3) {
    left: 3em;
    animation: loading-spinner2 0.6s infinite;
}
.loading-spinner.running div:nth-child(4) {
    left: 6em;
    animation: loading-spinner3 0.6s infinite;
}
@keyframes loading-spinner1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes loading-spinner3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes loading-spinner2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(3em, 0);
    }
}